.websiteBody{
  margin: 0;
  background-color: #011627;
}@media screen and (min-width:0px) and (max-width:450px) {
.Page{
  display:block;
  margin:auto;
  width:100%;
  height:auto;
  pointer-events:auto;
}
.Page-outer{
  pointer-events:none;
  z-index:1;
}
.Android-Large---1{
  position:relative;
  z-index:16;
  pointer-events:none;
  width:100%;
  margin-left:0;
  height:858px;
  min-width:200px;
  max-width:360px;
  margin:auto;
  background-color:rgba(1, 22, 39, 1);
  overflow:hidden;
}
.Android-Large---1-outer{
  pointer-events:none;
  z-index:16;
}
.Group-104{
  position:relative;
  z-index:17;
  pointer-events:none;
  margin-left:27px;
  width:137px;
  min-width:137px;
  height:43.19px;
  margin-top:26px;
  margin-bottom:788.81px;
  min-height:43.19px;
  content:url(assets/images/Group_104.png);
}
.Group-104-outer{
  pointer-events:none;
  z-index:17;
  position:relative;
  display:flex;
}
.A-LIVE-moderated-pla{
  position:relative;
  z-index:18;
  pointer-events:none;
  margin-left:34px;
  width:194.11px;
  min-width:194.11px;
  margin-top:-741px;
  margin-bottom:696px;
  min-height:45px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Noto Sans;
  font-weight:700;
  font-size:18.305084228515625px;
  line-height:24.80000114440918px;
}
.A-LIVE-moderated-pla-outer{
  pointer-events:none;
  z-index:18;
  position:relative;
  display:flex;
}
.Beta-version--Exclus{
  position:relative;
  z-index:19;
  pointer-events:none;
  opacity:0.4;
  margin-left:35px;
  width:183.05px;
  min-width:19000px;
  margin-top:-686px;
  margin-bottom:632px;
  min-height:54px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Noto Sans;
  font-weight:400;
  font-size:10.983051300048828px;
  line-height:15.199999809265137px;
}
.Beta-version--Exclus-outer{
  pointer-events:none;
  z-index:19;
  position:relative;
  display:flex;
}
.Vectary-texture{
  position:relative;
  z-index:21;
  pointer-events:none;
  margin-left:20px;
  width:262px;
  min-width:262px;
  height:228.36px;
  margin-top:-648px;
  margin-bottom:419.64px;
  min-height:228.36px;
  content:url(assets/images/Vectary_texture.png);
}
.Vectary-texture-outer{
  pointer-events:none;
  z-index:21;
  position:relative;
  display:flex;
}
.image-4{
  position:relative;
  z-index:20;
  pointer-events:none;
  margin-left:34px;
  width:124px;
  min-width:124px;
  height:27.35px;
  margin-top:-632px;
  margin-bottom:604.65px;
  min-height:27.35px;
  content:url(assets/images/image_4.png);
}
.image-4-outer{
  pointer-events:none;
  z-index:20;
  position:relative;
  display:flex;
}
.q500--meet-environme{
  position:relative;
  z-index:22;
  pointer-events:none;
  opacity:0.2;
  margin-left:27px;
  width:320px;
  min-width:320px;
  margin-top:-474px;
  margin-bottom:423.99px;
  min-height:50.01px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Noto Sans;
  font-weight:700;
  font-size:30.516557693481445px;
  line-height:33.907283782958984px;
}
.q500--meet-environme-outer{
  pointer-events:none;
  z-index:22;
  position:relative;
  display:flex;
}
.Which-includes-inter{
  position:relative;
  z-index:23;
  pointer-events:none;
  margin-left:27px;
  width:251px;
  min-width:251px;
  margin-top:-386px;
  margin-bottom:344.80999999999995px;
  min-height:41.19px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Noto Sans;
  font-weight:700;
  font-size:8.378303527832031px;
  line-height:11.199999809265137px;
}
.Which-includes-inter-outer{
  pointer-events:none;
  z-index:23;
  position:relative;
  display:flex;
}
.Group-36{
  position:relative;
  z-index:28;
  pointer-events:auto;
  margin-left:27px;
  width:198px;
  min-width:198px;
  height:43.65px;
  margin-top:-311px;
  margin-bottom:267.35px;
  min-height:43.65px;
  content:url(assets/images/Group_36.png);
}
.Group-36-outer{
  pointer-events:none;
  z-index:28;
  position:relative;
  display:flex;
}
.Our-Backers{
  position:relative;
  z-index:24;
  pointer-events:none;
  opacity:0.2;
  margin-left:27px;
  width:344px;
  min-width:344px;
  margin-top:-238px;
  margin-bottom:184.24px;
  min-height:53.76px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Noto Sans;
  font-weight:700;
  font-size:32.805301666259766px;
  line-height:36.4503288269043px;
}
.Our-Backers-outer{
  pointer-events:none;
  z-index:24;
  position:relative;
  display:flex;
}
.backers-img{
  position:relative;
  z-index:27;
  pointer-events:none;
  margin-left:49px;
  width:261px;
  min-width:261px;
  height:50.16px;
  margin-top:-171px;
  margin-bottom:120.84000000000003px;
  min-height:50.16px;
  content:url(assets/images/backers_img.png);
}
.backers-img-outer{
  pointer-events:none;
  z-index:27;
  position:relative;
  display:flex;
}
.q--2022-zevamp-com--{
  position:relative;
  z-index:25;
  pointer-events:none;
  margin-left:18px;
  width:268px;
  margin-top:-118px;
  margin-bottom:60px;
  min-height:58px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Noto Sans;
  font-weight:400;
  font-size:13.986015319824219px;
  line-height:19.200000762939453px;
}
.q--2022-zevamp-com---outer{
  pointer-events:none;
  z-index:25;
  justify-content:center;
  position:relative;
  display:flex;
}
.team-zevamp-com{
  position:relative;
  z-index:26;
  pointer-events:none;
  margin-left:110px;
  width:139px;
  min-width:139px;
  margin-top:-108px;
  margin-bottom:34px;
  min-height:74px;
  text-align:right;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Noto Sans;
  font-weight:400;
  font-size:14.962934494018555px;
  line-height:20px;
}
.team-zevamp-com-outer{
  pointer-events:none;
  z-index:26;
  position:relative;
  display:flex;
}
.Desktop---4{
  display: none;
}
.Desktop---4-outer{
  display: none;
}
.Vectary-texture-1{
  display: none;
}
.Vectary-texture-1-outer{
  display: none;
}
.Group-104-1{
  display: none;
}
.Group-104-1-outer{
  display: none;
}
.A-LIVE-moderated-pla-1{
  display: none;
}
.A-LIVE-moderated-pla-1-outer{
  display: none;
}
.Beta-version--Exclus-1{
  display: none;
}
.Beta-version--Exclus-1-outer{
  display: none;
}
.image-4-1{
  display: none;
}
.image-4-1-outer{
  display: none;
}
.q500--meet-environme-1{
  display: none;
}
.q500--meet-environme-1-outer{
  display: none;
}
.Which-includes-inter-1{
  display: none;
}
.Which-includes-inter-1-outer{
  display: none;
}
.emojione-eyes{
  display: none;
}
.emojione-eyes-outer{
  display: none;
}
.Group-36-1{
  display: none;
}
.Group-36-1-outer{
  display: none;
}
.backers-img-1{
  display: none;
}
.backers-img-1-outer{
  display: none;
}
.Our-Backers-1{
  display: none;
}
.Our-Backers-1-outer{
  display: none;
}
.team-zevamp-com-1{
  display: none;
}
.team-zevamp-com-1-outer{
  display: none;
}
.q--2022-zevamp-com---1{
  display: none;
}
.q--2022-zevamp-com---1-outer{
  display: none;
}
}

@media screen and (min-width:450px) {
.Page{
  display:block;
  margin:auto;
  width:100%;
  height:auto;
  pointer-events:auto;
}
.Page-outer{
  pointer-events:none;
  z-index:1;
}
.Android-Large---1{
  display: none;
}
.Android-Large---1-outer{
  display: none;
}
.Group-104{
  display: none;
}
.Group-104-outer{
  display: none;
}
.A-LIVE-moderated-pla{
  display: none;
}
.A-LIVE-moderated-pla-outer{
  display: none;
}
.Beta-version--Exclus{
  display: none;
}
.Beta-version--Exclus-outer{
  display: none;
}
.Vectary-texture{
  display: none;
}
.Vectary-texture-outer{
  display: none;
}
.image-4{
  display: none;
}
.image-4-outer{
  display: none;
}
.q500--meet-environme{
  display: none;
}
.q500--meet-environme-outer{
  display: none;
}
.Which-includes-inter{
  display: none;
}
.Which-includes-inter-outer{
  display: none;
}
.Group-36{
  display: none;
}
.Group-36-outer{
  display: none;
}
.Our-Backers{
  display: none;
}
.Our-Backers-outer{
  display: none;
}
.backers-img{
  display: none;
}
.backers-img-outer{
  display: none;
}
.q--2022-zevamp-com--{
  display: none;
}
.q--2022-zevamp-com---outer{
  display: none;
}
.team-zevamp-com{
  display: none;
}
.team-zevamp-com-outer{
  display: none;
}
.Desktop---4{
  position:relative;
  z-index:2;
  pointer-events:none;
  width:100%;
  margin-left:0;
  height:1626px;
  min-width:450px;
  max-width:1440px;
  margin:auto;
  background-color:rgba(1, 22, 39, 1);
  overflow:hidden;
}
.Desktop---4-outer{
  pointer-events:none;
  z-index:2;
}
.Vectary-texture-1{
  position:relative;
  z-index:9;
  pointer-events:none;
  margin-left:533px;
  width:907px;
  min-width:907px;
  height:771px;
  margin-top:0px;
  margin-bottom:855px;
  min-height:771px;
  content:url(assets/images/Vectary_texture_1.png);
}
.Vectary-texture-1-outer{
  pointer-events:none;
  z-index:9;
  position:relative;
  display:flex;
}
.Group-104-1{
  position:relative;
  z-index:3;
  pointer-events:none;
  margin-left:150px;
  width:165.15px;
  min-width:165.15px;
  height:52.32px;
  margin-top:-1567px;
  margin-bottom:1514.68px;
  min-height:52.32px;
  content:url(assets/images/Group_104_1.png);
}
.Group-104-1-outer{
  pointer-events:none;
  z-index:3;
  position:relative;
  display:flex;
}
.A-LIVE-moderated-pla-1{
  position:relative;
  z-index:4;
  pointer-events:none;
  margin-left:150px;
  width:509px;
  min-width:509px;
  margin-top:-1365px;
  margin-bottom:1247px;
  min-height:118px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Noto Sans;
  font-weight:700;
  font-size:48px;
  line-height:65.5999984741211px;
}
.A-LIVE-moderated-pla-1-outer{
  pointer-events:none;
  z-index:4;
  position:relative;
  display:flex;
}
.Beta-version--Exclus-1{
  position:relative;
  z-index:7;
  pointer-events:none;
  opacity:0.4;
  margin-left:148px;
  width:400px;
  min-width:500px;
  margin-top:-1226px;
  margin-bottom:1108px;
  min-height:118px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Noto Sans;
  font-weight:400;
  font-size:24px;
  line-height:32.79999923706055px;
}
.Beta-version--Exclus-1-outer{
  pointer-events:none;
  z-index:7;
  position:relative;
  display:flex;
}
.image-4-1{
  position:relative;
  z-index:8;
  pointer-events:none;
  margin-left:150px;
  width:172.27px;
  min-width:172.27px;
  height:38px;
  margin-top:-1111px;
  margin-bottom:1073px;
  min-height:38px;
  content:url(assets/images/image_4_1.png);
}
.image-4-1-outer{
  pointer-events:none;
  z-index:8;
  position:relative;
  display:flex;
}
.q500--meet-environme-1{
  position:relative;
  z-index:6;
  pointer-events:none;
  opacity:0.2;
  margin-left:150px;
  width:755px;
  min-width:755px;
  margin-top:-1007px;
  margin-bottom:889px;
  min-height:118px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Noto Sans;
  font-weight:700;
  font-size:72px;
  line-height:80px;
}
.q500--meet-environme-1-outer{
  pointer-events:none;
  z-index:6;
  position:relative;
  display:flex;
}
.Which-includes-inter-1{
  position:relative;
  z-index:5;
  pointer-events:none;
  margin-left:150px;
  width:719px;
  min-width:719px;
  margin-top:-812px;
  margin-bottom:694px;
  min-height:118px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Noto Sans;
  font-weight:700;
  font-size:24px;
  line-height:32.79999923706055px;
}
.Which-includes-inter-1-outer{
  pointer-events:none;
  z-index:5;
  position:relative;
  display:flex;
}
.emojione-eyes{
  position:relative;
  z-index:10;
  pointer-events:none;
  margin-left:258px;
  width:42.99px;
  min-width:42.99px;
  height:42.99px;
  margin-top:-726px;
  margin-bottom:683.01px;
  min-height:42.99px;
  content:url(assets/images/emojione_eyes.png);
}
.emojione-eyes-outer{
  pointer-events:none;
  z-index:10;
  position:relative;
  display:flex;
}
.Group-36-1{
  position:relative;
  z-index:15;
  pointer-events:auto;
  cursor:pointer;
  min-width:558px;
  min-height:123px;
  content:url(assets/images/Group_36_1.png);
  width:100%;
  height:100%;
}
.Group-36-1-outer{
  pointer-events:none;
  z-index:15;
  position:relative;
  display:flex;
}
.Group-36-1-url{
  text-decoration:none;
  margin-left:120px;
  width:558px;
  height:123px;
  margin-top:-605px;
  margin-bottom:482px;
}
.backers-img-1{
  position:relative;
  z-index:13;
  pointer-events:none;
  margin-left:677px;
  width:640px;
  min-width:640px;
  height:123px;
  margin-top:-402px;
  margin-bottom:279px;
  min-height:123px;
  content:url(assets/images/backers_img_1.png);
}
.backers-img-1-outer{
  pointer-events:none;
  z-index:13;
  position:relative;
  display:flex;
}
.Our-Backers-1{
  position:relative;
  z-index:14;
  pointer-events:none;
  opacity:0.2;
  margin-left:138px;
  width:755px;
  min-width:755px;
  margin-top:-411px;
  margin-bottom:293px;
  min-height:118px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Noto Sans;
  font-weight:700;
  font-size:72px;
  line-height:80px;
}
.Our-Backers-1-outer{
  pointer-events:none;
  z-index:14;
  position:relative;
  display:flex;
}
.team-zevamp-com-1{
  position:relative;
  z-index:12;
  pointer-events:none;
  opacity:0.4;
  margin-left:1060px;
  width:236px;
  min-width:236px;
  margin-top:-246px;
  margin-bottom:128px;
  min-height:118px;
  text-align:right;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Noto Sans;
  font-weight:400;
  font-size:24px;
  line-height:32.79999923706055px;
}
.team-zevamp-com-1-outer{
  pointer-events:none;
  z-index:12;
  position:relative;
  display:flex;
}
.q--2022-zevamp-com---1{
  position:relative;
  z-index:11;
  pointer-events:none;
  opacity:0.4;
  margin-left:150px;
  width:556px;
  min-width:556px;
  margin-top:-246px;
  margin-bottom:128px;
  min-height:118px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:center;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Noto Sans;
  font-weight:400;
  font-size:24px;
  line-height:32.79999923706055px;
}
.q--2022-zevamp-com---1-outer{
  pointer-events:none;
  z-index:11;
  position:relative;
  display:flex;
}
}
